.todo {
  @apply flex flex-col gap-4 items-start bg-background-accent rounded-md p-4  w-full;

  &__board {
    @apply flex flex-col lg:flex-row gap-4 w-full;
  }

  &__panel {
    @apply flex flex-col gap-4 w-full;
    h2 {
      @apply m-0;
    }
  }

  &__list {
    @apply flex flex-col bg-background gap-2 rounded-md p-2 w-full min-h-28;

    &--complete {
      @apply border-2 border-green-500;
    }

    &--incomplete {
      @apply border-2 border-blue-500;
    }
  }

  [data-todo-form] {
    @apply flex gap-4 bg-gray-100 w-full;
  }

  form {
    @apply flex flex-col md:flex-row gap-2 w-full md:justify-between;

    .form-group {
      @apply flex-col gap-1 w-full;
    }

    label {
      @apply text-sm font-semibold;
    }

    input {
      @apply w-full p-2 border border-gray-300 rounded-md;
    }

    button {
      @apply bg-blue-700 self-end text-white p-2 rounded-md min-w-20;
    }
  }

  p&__count {
    @apply flex w-full gap-1 m-0 text-sm text-gray-700;
    & span {
      @apply font-semibold;
    }
  }

  &__item {
    @apply flex items-center justify-between gap-2 p-2 bg-blue-100 rounded-md;
    &[complete="true"] {
      @apply bg-green-200;
    }
    & label {
      @apply flex items-center gap-2 cursor-pointer;
    }
    & input[type="checkbox"] {
      @apply w-4 h-4 rounded-md accent-green-500 cursor-pointer;
    }
    &-remove {
      @apply text-on-background bg-black/5 rounded-full p-1;
    }
  }
}
