.post-image-container {
	margin: 0 0 var(--space) 0;
	max-width: 32rem;
}

.post-image-container img {
	border-radius: var(--radius);
	width: 100%;
	height: auto;
	display: block;
	box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.05);
}

.post-content {
	margin-top: var(--space);
}

.post-content p {
	font-size: 1.125rem;
	margin-bottom: var(--space);
}
