@font-face {
	font-family: 'Geist';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/public/assets/fonts/geist.woff2') format('woff2');
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 200 900;
	font-stretch: 100%;
	font-display: swap;
	src: url('/public/assets/fonts/inconsolata.woff2') format('woff2');
}

@font-face {
	font-family: 'Karla';
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url('/public/assets/fonts/karla.woff2') format('woff2');
}

@font-face {
	font-family: 'Karla';
	font-style: italic;
	font-weight: 200 800;
	font-display: swap;
	src: url('/public/assets/fonts/karla-italic.woff2') format('woff2');
}
