@import 'tailwindcss';
@import './theme.css';
@import './fonts.css';
@import './components/prose.css';
@import './components/button.css';
@import './vendor/shiki.css';

body {
	@apply bg-background text-on-background min-h-[100svh] w-screen overflow-x-hidden font-sans;
}

