@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-tropical-rain-forest-50-hsla: 100 14% 96%;
  --color-tropical-rain-forest-100-hsla: 104 11% 81%;
  --color-tropical-rain-forest-200-hsla: 107 11% 66%;
  --color-tropical-rain-forest-300-hsla: 109 11% 52%;
  --color-tropical-rain-forest-400-hsla: 108 19% 37%;
  --color-tropical-rain-forest-500-hsla: 109 37% 23%;
  --color-tropical-rain-forest-600-hsla: 108 38% 18%;
  --color-tropical-rain-forest-700-hsla: 109 37% 14%;
  --color-tropical-rain-forest-800-hsla: 107 37% 10%;
  --color-tropical-rain-forest-900-hsla: 105 40% 6%;
  --color-tropical-rain-forest-950-hsla: 100 33% 2%;

  --color-scarlet-100-hsla: 353 100% 89%;
  --color-scarlet-200-hsla: 351 100% 81%;
  --color-scarlet-300-hsla: 350 100% 72%;
  --color-scarlet-400-hsla: 350 100% 63%;
  --color-scarlet-500-hsla: 350 100% 54%;
  --color-scarlet-600-hsla: 350 84% 44%;
  --color-scarlet-700-hsla: 351 83% 35%;
  --color-scarlet-800-hsla: 351 81% 25%;
  --color-scarlet-900-hsla: 353 76% 15%;
  --color-scarlet-950-hsla: 8 60% 5%;

  --color-silver-50-hsla: 0 0% 99%;
  --color-silver-100-hsla: 0 0% 95%;
  --color-silver-200-hsla: 0 0% 91%;
  --color-silver-300-hsla: 0 1% 87%;
  --color-silver-400-hsla: 0 1% 77%;
  --color-silver-500-hsla: 0 1% 69%;
  --color-silver-600-hsla: 0 0% 54%;
  --color-silver-700-hsla: 0 0% 30%;
  --color-silver-800-hsla: 0 0% 20%;
  --color-silver-900-hsla: 0 0% 10%;
  --color-silver-950-hsla: 0 0% 5%;

  --color-laser-lemon-50-hsla: 60 100% 98%;
  --color-laser-lemon-100-hsla: 60 100% 88%;
  --color-laser-lemon-200-hsla: 60 100% 79%;
  --color-laser-lemon-300-hsla: 60 100% 69%;
  --color-laser-lemon-400-hsla: 60 100% 60%;
  --color-laser-lemon-500-hsla: 60 100% 50%;
  --color-laser-lemon-600-hsla: 60 99% 41%;
  --color-laser-lemon-700-hsla: 60 98% 32%;
  --color-laser-lemon-800-hsla: 59 93% 23%;
  --color-laser-lemon-900-hsla: 58 86% 14%;
  --color-laser-lemon-950-hsla: 55 50% 5%;

  --color-navy-blue-50-hsla: 223 64% 98%;
  --color-navy-blue-100-hsla: 214 65% 88%;
  --color-navy-blue-200-hsla: 212 67% 78%;
  --color-navy-blue-300-hsla: 212 66% 68%;
  --color-navy-blue-400-hsla: 212 67% 58%;
  --color-navy-blue-500-hsla: 211 74% 47%;
  --color-navy-blue-600-hsla: 212 73% 39%;
  --color-navy-blue-700-hsla: 212 71% 30%;
  --color-navy-blue-800-hsla: 212 69% 22%;
  --color-navy-blue-900-hsla: 214 64% 13%;
  --color-navy-blue-950-hsla: 225 36% 4%;

  --background: var(--color-silver-50-hsla);
  --on-background: var(--color-silver-900-hsla);
  --background-accent: var(--color-silver-100-hsla);
  --on-background-accent: var(--color-silver-950-hsla);
  --primary-container: var(--color-tropical-rain-forest-100-hsla);
  --on-primary-container: var(--color-rain-forest-900-hsla);
  --primary: var(--color-tropical-rain-forest-500-hsla);
  --on-primary: var(--color-silver-50-hsla);
  --secondary: var(--color-scarlet-500-hsla);
  --on-secondary: var(--color-silver-50-hsla);

  --border: var(--color-silver-200-hsla);
  --link: var(--color-navy-blue-700-hsla);

  --background-code: var(--color-silver-100-hsla);
  --on-background-code: var(--color-laser-lemon-800-hsla);
}

.dark {
  --background: var(--color-silver-950-hsla);
  --on-background: var(--color-silver-50-hsla);
  --background-accent: var(--color-silver-900-hsla);
  --on-background-accent: var(--color-silver-50-hsla);
  --primary-container: var(--color-tropical-rain-forest-800-hsla);
  --on-primary-container: var(--color-tropical-rain-forest-50-hsla);
  --primary: var(--color-tropical-rain-forest-500-hsla);
  --on-primary: var(--color-silver-950-hsla);
  --secondary: var(--color-scarlet-500-hsla);
  --on-secondary: var(--color-silver-950-hsla);

  --border: var(--color-silver-900-hsla);
  --link: var(--color-navy-blue-400-hsla);

  --background-code: var(--color-silver-900-hsla);
  --on-background-code: var(--color-laser-lemon-300-hsla);
}

body {
  @apply bg-background text-on-background min-h-[100svh];
}

.prose {
  h1 {
    @apply text-4xl font-bold text-on-background-accent my-6;
  }

  h2 {
    @apply text-3xl font-bold text-on-background-accent my-6;
  }

  h3 {
    @apply text-2xl font-bold text-on-background-accent my-5;
  }

  h4 {
    @apply text-xl font-bold text-on-background-accent my-5;
  }

  h5 {
    @apply text-lg font-bold text-on-background-accent my-4;
  }

  h6 {
    @apply text-base font-bold text-on-background-accent my-4;
  }

  p {
    @apply text-base text-on-background my-4;
  }

  a {
    @apply text-link underline;
  }

  ul,
  ol {
    @apply list-disc pl-8 my-4;
  }

  code {
    @apply bg-background-code text-sm text-on-background-code rounded-md;
  }

  pre {
    code {
      @apply bg-transparent text-inherit rounded-md my-8;
    }
  }

  .banner {
    @apply border-l-4 px-4 py-4 rounded-md flex flex-col;
    p {
      @apply my-1;
    }
  }

  .banner--alert {
    @apply bg-yellow-100 border-yellow-500;
    * {
      @apply text-yellow-700;
    }
  }

  .banner__title {
    @apply font-bold mb-0;
  }

  .banner__link {
    @apply underline self-end inline-flex items-center gap-2 rounded-md p-2;
    @apply text-yellow-900 bg-yellow-50;
  }
}
