main {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #333;
	font-family: "Arial", sans-serif;
	font-weight: bold;
}

.description {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

code {
	background-color: #f4f4f4;
	padding: 0.5rem;
	border-radius: 5px;
	font-family: "Courier New", monospace;
}
