.navigation {
  @apply bg-slate-200 text-slate-900 font-sans;
  ul {
    @apply flex list-none;
    li {
      @apply py-2;
      &:hover {
        @apply bg-slate-300;
      }
      a {
        @apply h-full py-2 px-4 text-slate-900;
        &:hover {
          @apply text-slate-900;
        }
      }
    }
  }
}
