.ProseMirror {
	outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
	content: attr(data-placeholder);
	float: left;
	color: #adb5bd;
	pointer-events: none;
	height: 0;
}

.ProseMirror h1 {
	font-size: 1.8rem;
	font-weight: 800;
	margin-bottom: 1rem;
}

.ProseMirror h2 {
	font-size: 1.4rem;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 0.8rem;
}

.ProseMirror ul {
	list-style-type: disc;
	padding-left: 1.5rem;
	margin-bottom: 1rem;
}

.ProseMirror ol {
	list-style-type: decimal;
	padding-left: 1.5rem;
	margin-bottom: 1rem;
}
