:root {
	--switch-width: 2.5rem;
	--switch-height: 1.5rem;
	--thumb-size: 1rem;
}

.radiant-switch {
	.thumb {
		@apply block absolute top-1/2 w-(--thumb-size) h-(--thumb-size);
		@apply bg-on-background rounded-full transform -translate-y-1/2 transition-transform ease-in-out duration-200 pointer-events-none;
	}

	.switch-wrapper {
		@apply inline-flex items-center gap-2;
	}

	.switch {
		@apply relative w-(--switch-width) h-(--switch-height) bg-on-background/20;
		@apply rounded-full p-1 cursor-pointer transition-colors;
		&:hover {
			@apply bg-on-background/30;
		}
	}
}

.radiant-switch {
	@apply contents;
}

.radiant-switch[checked='true'] .switch {
	@apply bg-primary;
	&:hover {
		@apply bg-primary/80;
	}
}

.radiant-switch[disabled='true'] .switch {
	@apply opacity-50 cursor-not-allowed;
}

.radiant-switch[checked='true'] .thumb {
	@apply bg-on-primary;
	translate: calc(var(--switch-width) - var(--thumb-size) - 0.5rem) -50%;
}
