.header {
  @apply bg-background-accent text-on-background-accent shadow-sm;
  &__inner {
    @apply px-4 py-3 container mx-auto flex items-center justify-between;
    &-left-side {
      @apply flex items-center gap-4;
      .version {
        @apply text-xs font-semibold bg-background text-on-background px-2 rounded-md;
      }
    }
  }
}
