@theme {
	--font-heading: ui-sans-serif, system-ui, sans-serif;
	--color-background: hsl(0 0% 100%);
	--color-background-accent: hsl(210 20% 98%);
	--color-on-background: hsl(222 47% 11%);
	--color-primary: hsl(221 83% 53%);
	--color-secondary: hsl(0 84% 60%);
	--color-border: color-mix(in oklab, var(--color-on-background) 15%, transparent);
}

body {
	@apply bg-background text-on-background min-h-svh font-sans;
}
