.error404 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	background-color: #e2e8f0;
	border-radius: 0.375rem;
	padding: 1rem;
	margin-top: 5rem;
	margin-bottom: 5rem;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.error404 h1 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	font-weight: 700;
	color: #0f172a;
}

.error404 p {
	font-size: 1.125rem;
	line-height: 1.75rem;
	color: #334155;
	padding: 2rem;
	background-color: #f1f5f9;
	border-radius: 0.375rem;
}
